ADMIN_PASSWORD=

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_IDS=

SMTP_HOST=
SMTP_PORT=465
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM_EMAIL=
SMTP_FROM_NAME=Lenspecopt Website
CONTACT_RECIPIENT_EMAIL=
CONTACT_RECIPIENT_NAME=Website Requests

